Source: python-django-threadedcomments
Section: python
Priority: optional
Maintainer: CH content team <pg-content-dev@chconf.com>
Build-Depends: cdbs (>= 0.4.41), debhelper (>= 5.0.37.2), python-dev, python-support (>= 0.3), python-setuptools, centrum-python-setuptoolsdummy
Standards-Version: 3.7.2

Package: python-django-threadedcomments
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-setuptools
Description: A simple yet flexible threaded commenting system.